{{ $weekend_logo := resources.Get "images/weekendcom_logo.png"  }}
{{ $fonline_logo := resources.Get "images/fonline.png"  }}
<footer class="footer">
    <div class="content-container">
        <div class="content">
            <p>{{ i18n "supported_by" }}</p>
            <a href="https://weekend.com" target="_blank" style='text-decoration: none;'>
                <img class="logo" src='{{ $weekend_logo.Permalink }}' alt="logo_weekendcom">
            </a>
            <a href="https://f-online.at" target="_blank" style='text-decoration: none;'>
                <img class="logo" src='{{ $fonline_logo.Permalink }}' alt="logo_fonline">
            </a>
        </div>
    </div>
    <div class="content-container">
        <div class="content">
            <hr>
            {{- $currentPage := . -}}
            {{ i18n "language" }}:
            <select onchange="changeLanguage(this)" id="language">
                <option selected="selected">
                    {{ .Site.Language.LanguageName }}
                </option>
                {{ range .Translations }}
                <option data-href="{{ .Permalink }}" value="{{ .Site.Language.Params.languageCode }}">
                    {{ .Site.Language.Params.languageName }}
                </option>
                {{ end }}
            </select>
        </div>
    </div>
    <script>
        function setLanguageCookie() {
            document.cookie = "nf_country=disabled; expires=Thu, 18 Dec 2021 12:00:00 UTC; path=/";
        }
        function changeLanguage(obj) {
            let href = obj.options[obj.selectedIndex].getAttribute('data-href');
            setLanguageCookie()
            window.location = href;
        }
    </script>
</footer>