.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


@media (max-width:629px) {
    .uploadImage {
      display: none !important;
    }
}
