{{ define "main" }}

<div class="content-container">
    <div class="content">
        {{ .Content }}
    </div>
</div>

<div class="content-container">
    <div class="content upload">
        <h2>Upload a new trace</h2>

        <p>
            We will upload only the last 15 days of your location history.
            We will anonymize the data and merge it with other people's uploads.
            We will never publish your raw data! Please fill out the form bellow.
            We will ask you at the end to press the button and confirm your upload, before this action,
            no data will leave your computer!
        </p>

        <div class="uploadstep">
            <label for="token">Please insert the code you have got: </label>
            <input type="text" id="token" name="token">
        </div>

        <div id ="tested" class="uploadstep">
            <label for="testedDate">When have you been tested positive?</label>
            <input type="date" id="testedDate" name="tested" value="">
        </div>
        
        <div id="symptoms" class="uploadstep hidden">
            <label for="symptomsDate">When have you experienced your first symptoms?</label>
            <input type="date" id="symptomsDate" name="symptoms" value="" class="spacerright">
            <label for="nosymptoms" class="samerow">I haven't experienced any symptoms</label>
            <input type="checkbox" id="nosymptoms" name="nosymptoms" value="nosymptoms">
        </div>
        
        <div id="daterangeinfo" class="uploadstep hidden"></div>
        
        <div id="uploadfield" class="uploadstep hidden">
            <label for="file">Select your Google Takeout file <b>Location History.json</b></label>
            <input class="form-control" type="file" id="file" name="file">
        </div>

        <div id="filteredinformation" class="uploadstep hidden"></div>

        <div id="upload" class="uploadstep hidden">
            <button type="button" class="form-control" id="cf-submit" name="upload">Upload your data</button>
        </div>

        <div id="uploadinformation" class="uploadstep hidden"></div>

        <div style="height: 300px;"></div>

    </div>
</div>

{{ $js := resources.Get "js/covid.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}"></script>

{{ end }}