<form id="uploadform" class="upload">

    <div class="questionblock">
        <label>{{ i18n "official_test" }}</label>
        <div class="question">
            <label for="testedoptions">{{ i18n "have_you_been_tested" }}</label>
            <div id="testedoptions" class="options">
                <input type="radio" id="testedyes" name="tested" value="yes">
                <label for="testedyes">{{ i18n "yes" }}</label>
                <input type="radio" id="testedno" name="tested" value="no">
                <label for="testedno">{{ i18n "no" }}</label>
            </div>
        </div>

        <div class="question">
            <label for="testedDate">{{ i18n "when_tested" }}</label>
            <div class="options">
                <input type="date" id="testedDate" name="testedDate" value="">
            </div>
        </div>

        <div class="question">
            <label for="positiveoptions">{{ i18n "tested_positive" }}</label>
            <div id="positiveoptions" class="options">
                <input type="radio" id="positiveyes" name="positive" value="yes">
                <label for="positiveyes">{{ i18n "yes" }}</label>
                <input type="radio" id="positiveno" name="positive" value="no">
                <label for="positiveno">{{ i18n "no" }}</label>
            </div>
        </div>

        <div class="question">
            <label for="token">{{ i18n "insert_token" }}</label>
            <div class="options">
                <input type="text" id="token" name="token" value="">
            </div>
        </div>
    </div>

    <div class="questionblock">
        <label>{{ i18n "your_health" }}</label>
        <div class="question">
            <label for="symptomsoptions">{{ i18n "experienced_symptoms" }}</label>
            <div id="symptomsoptions" class="options">
                <input type="radio" id="symptomsyes" name="symptoms" value="yes">
                <label for="symptomsyes">{{ i18n "yes" }}</label>
                <input type="radio" id="symptomsno" name="symptoms" value="no">
                <label for="symptomsno">{{ i18n "no" }}</label>
            </div>
        </div>

        <div class="question">
            <label for="symptomsDate">{{ i18n "when_first_symptoms" }}</label>
            <div class="options">
                <input type="date" id="symptomsDate" name="symptomsDate" value="">
            </div>
        </div>

        <div class="question">
            <label for="contactoptions">{{ i18n "in_contact_with_positive_covid" }}</label>
            <div id="contactoptions" class="options">
                <input type="radio" id="contactyes" name="contact" value="yes">
                <label for="contactyes">{{ i18n "yes" }}</label>
                <input type="radio" id="contactno" name="contact" value="no">
                <label for="contactno">{{ i18n "no" }}</label>
            </div>
        </div>
    </div>

    <div class="questionblock">
        <h2>{{ i18n "location_history" }}</h2>
        <div class="questionblock" id="method1">
            <label>
                {{ i18n "method" }} 1: {{ i18n "upload_your" }} <a href="{{ .Site.LanguagePrefix }}/howto" target="_blank">{{ i18n "google_location_file" }}</a> ({{ i18n "recommended" }})
            </label>
            <div class="question">
                <label for="file">{{ i18n "select_location_file" }} <b>Location History.json</b></label>
                <div class="options">
                    <input class="form-control" type="file" id="file" name="file">
                </div>
                <p id="datafilterinformation"></p>
            </div>

        </div>

        <label id="or">
            <b>{{ i18n "or" }}</b>
        </label>
        <div class="questionblock" id="method2">
            <label>
                Method 2: {{ i18n "manual_select_location" }}
            </label>
            <div id="mapid" style="width:auto;height:500px;"></div>
        </div>
    </div>

    <div class="questionblock hidden" id="response">
        <label>
            <div id="uploadstatus" class="informationbox"></div>
        </label>

        <div class="question">
            <div id="uploadinformation" class="informationbox"></div>
        </div>

        <div class="question hidden" id="code">
            <div class="informationbox">
                {{ i18n "save_token" }}: <b id="codevalue"></b>
                <p>{{ i18n "save_token_explanation" }}</p>
            </div>
        </div>
    </div>

    <div>
        <button type="button" class="form-control" id="upload-btn" name="upload">{{ i18n "send_form" }}</button>
    </div>
</form>