{{ define "main" }}

{{ $banner := resources.Get "images/covid19.jpg"  }}

<div class="banner-container" style="background-image: url({{ $banner.Permalink }});">
    <div class="subtitle">Let's fight the virus together</div>
    <div class="title">COVID-19 Tracing</div>
    <div class="menu"><a href="/map">Open Map</a></div>
</div>

<div class="content-container">
    <div class="content"><p>We are fighting a war against an invisible threat.
        With COVID-19 TRACING we want to support all the <a href="https://en.wikipedia.org/wiki/Contact_tracing">tracing effort</a> and provide a platform
        where you can share and get information about places with a potential higher
        infection risk in the last couple of days. By making this information available,
        we hope to support the effort to contain this threat.</p>
        <p>
            How can YOU help?
            - If you have been tested positive
            ....
        </p>
    </div>
</div>
{{ end }}